/*body {
   --background-one: #ff6b6b;
   --background-two: #4ecdc4;
   background-color: #030303;
   background-color: hsl(240, 60%, 5%);
   background-image: radial-gradient(circle at -40vw 1200px, oklch(from violet l c h / .15) 1%, transparent 40%), radial-gradient(circle at 150vw -100px, oklch(from var(--background-two) l c h / .25) 1%, transparent 65%);
   color: white;
   font-family: 'Nunito Sans', sans-serif;
   display: grid;
   justify-items: center;
   align-content: start;
   margin: 0;
   position: relative;
   overflow-y: scroll;
   gap: 1em;
   min-height: 100vh;
}*/

body {
   background-color:black;
   color: white;
   font-family: sans-serif;
   display: grid;
   height: 100vh;
   margin: 0;
   position: relative;
   /*overflow-y: scroll;*/
}

header.page {
   justify-self: stretch;
   position: sticky;
   top: 0;
   z-index: 1;
   background-color: oklch(20% 0 0 / 0.5);
   backdrop-filter: blur(5px);
   padding-block: 1em;
}

header.page > nav {
   & ul {
      display: flex;
      justify-content: center;
      gap: 1em;
      width: 100%;
      color: #bbb;

      & li {
         list-style-type: none;
      }
   }
}

footer.page {
   display: grid;
   justify-items: center;
   font-size: 0.9rem;
}

ul, ol {
   all: unset;
   /*padding-inline-start: 0;*/
   /*margin-block: 0;*/
}

li {
   list-style-type: none;
}

.markdown {
   ul, ol {
      all: revert;
      /*padding-inline-start: revert;
      list-style-type: revert;*/
   }

   li {
      all: revert;
   }

   ul > li {
      list-style-type: disc;
   }
}

a, a:visited {
   color: #bbb;
   text-decoration: none;

   &:hover {
      /*color: white;*/
      color: var(--_hl-color, white);
      text-decoration: underline;
   }
}

main#home ol#activity-feed {
   display: grid;
   gap: 1em;
   padding: 1em;

   > li {
     border-radius: 1em;
   }
}

main#home ol#activity-feed li:nth-child(n + 6) {
   display: none;
}

ul#technologies {
   display: flex;
   flex-wrap: wrap;
   font-size: 0.8rem;
   gap: 0.25em;

   > li {
      display: grid;
      place-items: center;
      padding: 0.25em 0.75em;
      border-radius: 1em;
      font-weight: 700;
      text-transform: lowercase;
      cursor: pointer;

      > button {
         all: unset;
      }
   }
}

body {
   /*--_bg-color: oklch(from cornflowerblue 50% 0.12 h / 1);*/
   background-color: var(--_bg-color);
}
