body {
   --background-one: #ff6b6b;
   --background-two: #4ecdc4;
   background-color: #030303;
   background-color: hsl(240, 60%, 5%);
   background-image: radial-gradient(circle at -40vw 1200px, oklch(from violet l c h / .15) 1%, transparent 40%), radial-gradient(circle at 150vw -100px, oklch(from var(--background-two) l c h / .25) 1%, transparent 65%);
   color: white;
   font-family: 'Nunito Sans', sans-serif;
   display: grid;
   /*justify-items: stretch;*/
   align-content: start;
   /*height: 100vh;*/
   margin: 0;
   /*overflow: hidden;*/
   position: relative;
   overflow-y: scroll;
}

header {
   background-color: rgba(0,0,0,0.0);
   backdrop-filter: blur(5px);
   position: sticky;
   top: 0;
   z-index: 1;
}

header > nav {
   & ul {
      display: flex;
      justify-content: center;
      gap: 1em;
      width: 100%;
      color: #bbb;

      & li {
         list-style-type: none;
      }
   }
}

ul, ol {
   all: unset;
   /*padding-inline-start: 0;*/
   /*margin-block: 0;*/
}

li {
   list-style-type: none;
}

a, a:visited {
   color: #bbb;
   text-decoration: none;

   &:hover {
      color: white;
      text-decoration: underline;
   }
}
