/*body {
   --background-one: #ff6b6b;
   --background-two: #4ecdc4;
   background-color: #030303;
   background-color: hsl(240, 60%, 5%);
   background-image: radial-gradient(circle at -40vw 1200px, oklch(from violet l c h / .15) 1%, transparent 40%), radial-gradient(circle at 150vw -100px, oklch(from var(--background-two) l c h / .25) 1%, transparent 65%);
   color: white;
   font-family: 'Nunito Sans', sans-serif;
   display: grid;
   justify-items: center;
   align-content: start;
   margin: 0;
   position: relative;
   overflow-y: scroll;
   gap: 1em;
   min-height: 100vh;
}*/

:root {
   --bg-color: rgba(0,0,0,0.6);
}

body {
   background-color:black;
   color: white;
   font-family: sans-serif;
   display: grid;
   min-height: 100vh;
   margin: 0;
   position: relative;
}

header.page {
   justify-self: stretch;
   position: sticky;
   top: 0;
   z-index: 1;
   background-color: oklch(30% 0 0 / 0.25);
   backdrop-filter: blur(5px);
   will-change: backdrop-filter;
   /*padding-block: 1em;*/
}

header.page > nav {

   ul {
      display: flex;
      justify-content: center;
      gap: 1em;
      width: 100%;
      color: #bbb;

      > li {
         list-style-type: none;

         a {
            display: inline-block;
            padding-block: 1em;
            padding-inline: 0.25em;
            font-weight: bold;
            transition: filter 1s ease-out, color 1s ease-out, text-shadow 1s ease-out;
            filter: none;
         }



         a:hover {
            filter: drop-shadow(0 0 6px var(--_hl-color));
            text-shadow: none;
            text-decoration: none;
            transition: filter 0s, color 0s;
         }
      }
   }
}

footer.page {
   display: grid;
   justify-items: center;
   font-size: 0.9rem;
}

ul, ol {
   all: unset;
   /*padding-inline-start: 0;*/
   /*margin-block: 0;*/
}

li {
   list-style-type: none;
}

.markdown {
   ul, ol {
      all: revert;
      line-height: 1.4em;
      display: grid;
      gap: 0.25em;
      /*padding-inline-start: revert;
      list-style-type: revert;*/
   }

   li {
      all: revert;
   }

   ul > li {
      list-style-type: disc;
   }
}

a, a:visited {
   color: #bbb;
   text-decoration: none;

   &:hover {
      /*color: white;*/
      color: var(--_hl-color, white);
      text-decoration: underline;
   }
}

main#home {
   letter-spacing: 0.04em;
}

main#home ol#activity-feed {
   display: grid;
   gap: 1em;
   padding: 1em;
   font-weight: 500;

   > li {
     border-radius: 0.5em;
   }
}

/*main#home ol#activity-feed li:nth-child(n + 3) {
   display: none;
}*/

ul#technologies {
   display: flex;
   flex-wrap: wrap;
   font-size: 0.8rem;
   gap: 0.25em;

   > li {
      display: grid;
      place-items: center;
      border-radius: 1em;
      font-weight: 700;
      text-transform: lowercase;
      cursor: pointer;

      > button {
         all: unset;
         display: block;
         padding: 0.25em 0.75em;

         &:hover {
            filter: drop-shadow(0 0 4px white);
         }
      }
   }
}

body {
   /*--_bg-color: oklch(from cornflowerblue 50% 0.12 h / 1);*/
   background-color: var(--_bg-color);
}

article#me .markdown ul {
   padding-inline-start: 0;

   > li {
      position: relative;
      list-style-type: none;
   }

   > li:before {
      content: '>';
      color: lightslategray;
      position: absolute;
      right: 102%;

   }
}

.glass-panel {
   filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
   content-visibility: auto;
   backdrop-filter: none !important;
}
