body {
   background-color: hsl(240 10% 6);
   background-color: oklch(10% 0 0);
   color: white;
   font-family: sans-serif;
   display: grid;
   place-items: center;
   height: 100vh;
   margin: 0;
}
