body {
   background-color: hsl(240 10% 15%);
   color: white;
   font-family: sans-serif;
   display: grid;
   place-items: center;
   height: 100vh;
   margin: 0;
}

.masked-element {
  background: linear-gradient(135deg, #ff0000, #0000ff); /* or whatever */
  mask-image: url('dot.svg');
  mask-size: 20px 20px;
  mask-repeat: repeat;
  -webkit-mask-image: url('dot.svg');
  -webkit-mask-size: 20px 20px;
  -webkit-mask-repeat: repeat;
}

.with-background {
   /* avoid background-attachment: fixed; */
   will-change: background;
   background:
       url('dot.svg') repeat,
       linear-gradient(135deg, #ff0000, #0000ff);
     background-size: 20px 20px, cover;
}
