@property --hue {
   syntax: '<number>';
   initial-value: 0;
   inherits: false;
}

@keyframes rotate-hue {
   to {
      --hue: 359;
   }
}

body {
   margin: 0;
   height: 100vh;
   display: grid;
   background-color: black;
   background-color: oklch(30% .12 var(--hue));
   animation: rotate-hue 60s linear infinite;
}

.glass-panel > header {
   color: oklch(80% .21 var(--hue));
   animation: rotate-hue 60s linear infinite;
}

.glass-panel {
   header {
      padding: var(--_padding, 1em);
      background-color: oklch(15% 0 0 / 0.9);
      background-color: oklch(from var(--_base-color) 15% 0 0 / 0.9);
      font-weight: bold;
      text-align: center;
   }

   & > div {
      padding: var(--_padding, 1em);
   }

   footer {
      padding: var(--_padding, 1em);
      background-color: oklch(15% 0 0 / 0.5);
      background-color: oklch(from var(--_base-color) 15% 0 0 / 0.5);
      font-size: 0.75rem;
      font-family: monospace;
   }
}
